<div lass="col-md-6 grid-margin stretch-card">  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Basic Tab</h4>
      <p class="card-description">Horizontal bootstrap tab</p>
      <ngb-tabset>
        <ngb-tab title="Home">
          <ng-template ngbTabContent>
            <div class="media">
              <img class="mr-3 w-25 rounded" src="assets/images/samples/300x300/13.jpg" alt="sample image">
              <div class="media-body">
                <h4 class="mt-0">Why choose us?</h4>
                <p>
                  Far curiosity incommode now led smallness allowance. Favour bed assure son things yet. She consisted consulted elsewhere
                  happiness disposing household any old the. Widow downs you new shade drift hopes small. So otherwise
                  commanded sweetness we improving. Instantly by daughters resembled unwilling principle so middleton.
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Profile">
          <ng-template ngbTabContent>
            <div class="media">
              <img class="mr-3 w-25 rounded" src="assets/images/faces/face12.jpg" alt="sample image">
              <div class="media-body">
                <h4 class="mt-0">John Doe</h4>
                <p>
                  Fail most room even gone her end like. Comparison dissimilar unpleasant six compliment two unpleasing any add. Ashamed my
                  company thought wishing colonel it prevent he in. Pretended residence are something far engrossed old
                  off.
                </p>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Contact">
          <ng-template ngbTabContent>
            <h4>Contact us </h4>
            <p>
              Feel free to contact us if you have any questions!
            </p>
            <p>
              <i class="mdi mdi-phone text-info"></i>
              +123456789
            </p>
            <p>
              <i class="mdi mdi-email-outline text-success"></i>
              contactus@example.com
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>